._iTree_tools{
  font-size: 8px;
  font-weight: lighter;
  cursor: pointer;
  color:lightgrey;
}
._iTree_tools>i{
  padding:0px 1px;
}

._iTree_tools-add:hover{
  color:#008ecc;/* color:#9dc183; */
}
._iTree_tools-remove:hover{
  color:#d21f3c;
}

._iTree_popup{
  position: fixed;
  color: white;
  top:0px;
  left:0px;
}

._iTree_popup-slide-top{
  transition: transform 1s linear;
  transform-origin: top;
  transform-style: preserve-3D;
  animation: 0.2s ease-out 0s 1 _iTree_popup-slide-top;
}
._iTree_popup-slide-bottom{
  transition: transform 1s linear;
  transform-origin: bottom;
  transform-style: preserve-3D;
  transform:scale(0.8);
  /* animation: 0.2s ease-out 0s 1 _iTree_popup-slide-bottom; */
}

@keyframes _iTree_popup-slide-top {
  0% {
    transform:scale(0.8);
    /*transform: translateY(-20%);*/
    opacity: 0;
  }
  100% {
    transform:scale(1);
    /*transform: translateY(0%);*/
    opacity: 1;
  }
}

@keyframes _iTree_popup-slide-bottom {
  0% {
    transform:scale(0.8);
    /* transform: translateY(20%); */
    opacity: 0;
  }
  100% {
    transform:scale(1);
    /* transform: translateY(0); */
    opacity: 1;
  }
}

._iTree_popup-pointer{
  position:absolute;
  border-style:solid;
  border-color:transparent;
  border-width:8px 7px;
}

._iTree_node{
  width:100%;
  text-align: center;
  /* border:1px solid teal;   */
}

._iTree_hook{
  margin:auto;
  text-align: right;
  display:flex;
  border:1px solid red;
}

._iTree_top-hook--left, ._iTree_top-hook--right, ._iTree_top-hook--middle{
  margin:auto;
  text-align: right;
  display:flex;
}
._iTree_top-hook--only{
  display: none;
}

._iTree_top-hook--left>div:first-child{
  width:50%;
  height:5px;
}
._iTree_top-hook--left>div:last-child{
  width:50%;
  height:5px;
  border-top:1px solid black;
  border-left:1px solid black;
}

._iTree_top-hook--right>div:first-child{
  width:50%;
  height:5px;
  border-top:1px solid black;
  border-right:1px solid black;
}
._iTree_top-hook--right>div:last-child{
  width:50%;
  height:5px;
}

._iTree_top-hook--middle>div:first-child{
  width:50%;
  height:5px;
  border-top:1px solid black;
  border-right:1px solid black;
}

._iTree_top-hook--middle>div:last-child{
  width:50%;
  height:5px;
  border-top:1px solid black;
  border-left:1px solid black;
}

._iTree_node-label{
  /* border:1px solid red; */
}

._iTree_arrow-holder{
  /*background: rgb(197, 192, 224);*/
  text-align: center;
}

._iTree_children-list{
  /* background: greenyellow; */
  display: flex;
  width:100%;
}
